body {
    width: 7000px;
}
img {
    max-width: 500px;
    display: block;
}
div {
    float: left;
    text-align: center;
}
li {
    list-style-type: none;
    width: 470px;
    height: 234px;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
}
li img {
    position: relative;
    top: -33px;
    left: -13px;
}
li span {
    position: absolute;
    top: 212px;
    z-index: 2;
}
h1 {
    margin-left: 400px;
}
